.resume-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: none;
	background: none;
}

@media print {
	.resume-container {
		background-color: none;
		display: none;
	}
}

.pdf {
	box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
	padding: 1vw;
	margin: 2vw;
	background-color: white;
}

#pdf {
	background-color: none;
	border: 1px solid red;
}
