.BlogPost-container {
	padding-left: 10vw;
	padding-right: 10vw;
}

.post-title {
	font-size: 1.2em;
	transition: 0.5s;
	color: rgb(128, 128, 128);
}

.blog-imgs {
	transition: 0.5s;
	height: 25vw;
	filter: grayscale(100);
}

.blog-imgs:hover {
	filter: none;
	transition: 2s;
}

.post-title:hover {
	transition: 0.5s;
	color: #ff5d8f;
}
