.sub-heading {
	color: white;
	font-weight: bolder;
	font-style: italic;
	padding: 1vw;
	background-color: #3b3336;
	font-size: 0.5em;
	transition: 500ms;
}

.sub-heading:hover {
	transition: 500ms;
	background-color: #ff5d8f;
}

div {
	border-radius: 0.5vw;
}
.my-name {
	transition: 1000ms;
}

.my-name:hover {
	transition: 2s;
	transform: scale(1.06);
}
