.aboutme-container {
	padding: 10vw;
	display: flex;
	padding-right: 15vw;
	padding-top: 2em;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	background-color: #f4f1eb;
	color: rgb(62, 62, 62);
}

.hobbies {
	font-size: 1.5em;
}

#dan {
	font-style: italic;
}
